.bannerHeading1{
    font-size: 50px;
}
.sub-Banner1{
    margin-top: 150px;
}
.BannerImg1{
    box-shadow: 10px 10px 12px rgb(40, 21, 92);
    border-radius: 5px;
}
.Banner1{
    display: flex;
    justify-content: space-around;
    /* margin:5px; */
    background-color:rgb(228, 208, 208);
    padding: 20px;
}