.subHeading1{
    margin-left: 200px;
    font-size: 30px;
}
.subLine1{
    background-color: rgb(136, 255, 0);
    margin-top: 10px ;
    margin-left:350px;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
}
.bannerHeading1{
    font-size: 50px;
}
.sub-Banner1{
    margin-top: 150px;
}
.BannerImg1{
    box-shadow: 10px 10px 12px rgb(40, 21, 92);
    border-radius: 5px;
}
.Banner1{
    display: flex;
    justify-content: space-around;
    /* margin:5px; */
    background-color:rgb(228, 208, 208);
    padding: 20px;
}